<body class="body-sign">

    <div class="container-fluid">
            
        <div class="row">
            <img src="assets/img/inrhythm-color-02.png" alt="inRHYTHM logo" class="mx-auto"><br>
        </div>

            <div class="row">
                <div class="jumbotron shadow mx-auto jumbo-form">
                    
                    <form class="row g-2">
                        <div class="col-md-6">
                          <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        </div>

                        <div class="col-md-6">
                          <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        </div>

                        <div class="col-12">
                          <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>

                        <div class="col-12">
                          <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>

                        <div class="col-12 form-label">
                          <label for="birthday" class="form-label">What is your birthday?</label>
                          <input type="date" class="form-control" id="birthday">
                        </div>
                        

                      </form>

                      <div class="col-12 text-center">
                        <button type="submit" class="btn" id="btn-signup">Sign Up</button>
                      </div>

                      <div class="d-flex justify-content-center align-items-center links">
                        <p><small>Already have an account? <a href="./login.html" id="a-signin"> Sign In</a></p></small>
                    
                    </div>
                </div>
            </div>
    </div>
        
    
</body>